#rules, #game-area, #bet-area {
  display: none;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 88, 27);
  color: #fff;
  margin: 0;
  padding: 0;
}


.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  height: 500px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

h1 {
  margin: 10px;
  font-size: 24px;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(200%);
  margin: 10px;
  font-size: 50px;
}

#start-button {
  display: flex;
  align-items: center;
  transform: translateY(300%);
  margin: 20px;
}

#rules-button {
  display: flex;
  align-items: center;
  transform: translateY(350%);
  margin: 20px;
}

.hand {
  margin: 5px;
}

.hand h2 {
  margin: 5px 0;
  font-size: 18px;
}

.buttons {
  margin-top: 10px;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  margin: 3px;
  cursor: pointer;
}
.deck {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 60px;
    height: 84px;
    background-image: url('https://imamuradaiki.github.io/github.io/cards/back.png');
    background-size: cover;  /* 画像をコンテナに合わせる */
    background-position: center;  /* 画像を中央に配置 */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.card-image {
  width: 60px;
  height: auto;
  margin: 3px;
  position: relative;
}

@keyframes dealCard {
  0% {
      transform: translate(400px, -100px) rotate(360deg) scale(0.5);
      opacity: 0;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      transform: translate(0, 0) rotate(0deg) scale(1);
      opacity: 1;
  }
}

.deal-animation {
  animation: dealCard 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#dealer-cards, #player-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#message {
  margin: 10px 0;
  font-size: 18px;
}
